@import "./navbar";

body {
  margin: 0;
  font-family:"cairo", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-card-dark{
  background-color: #222E35 !important;
}
.upload-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 180px;
  border: 2px dashed #ccc;
}

.upload-image label {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  text-align: center;
}

.upload-image input[type="file"] {
  display: none;
}

.input-error{
  border: 1px solid #a51c1c !important;

}